/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
    font-family: 'Open sans',sans-serif;

	font-size: 18px;

	font-weight: 400;
}

*{
	margin: 0px;
	
	padding: 0px;

	box-sizing:border-box;
}

.banner{

	background: url('img/bg1.jpg') no-repeat top center;

	padding: 200px 0 200px 0;

	background-size: cover;
}
.banner
{
	text-align:center;
}

.menubar
{
	text-align: center;

	padding:20px;

	box-shadow: 1px 1px 33px #888888;
}
.menubar a
{
	text-decoration: none;

	text-transform: uppercase;

	letter-spacing: 1px;

	padding: 10px;

	font-weight: 700;

	color:#444472;
}

.menubar a:visited
{
	color: #444472;
	
} 

.menubar a:hover
{
	color: #d43093;
} 

.middle-content
{
	margin-top: 40px;
    text-align: center;
    padding: 50px;
}
.middle-content h2
{
	font-size:40px;
	line-height: 1em;
}
.middle-content p
{
	line-height: 1.6em;
}
.pic-container
{
	padding: 50px;
}
.profile-photo
{
	float:left;
	
	margin-right: 10px;
}

